.holy-grail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.holy-grail-body {
  display: flex;
  flex: 1;
}

.file-editor {
  flex: 1;
}

.file-explorer {
  flex: 0 0 16em;
  background: #373737;
}

.terminal {
  height: 300px;
  background: #373737;
}
